{% extends 'blog/base.html' %}

{% block title %}
My Blog
{% endblock %}

{% block content %}

<h2>Recent Posts</h2>
<div class="post-grid">
    {% for post in posts %}
        <div class="post-card">
            <a href="{{ post.id }}/">
                <img src="{{ post.image.url }}" alt="{{ post.title }}" class="post-image">
                <h3>{{ post.title }}</h3>
            </a>
            <p>{{ post.date_created }}</p>
            <p>{{ post.summary|linebreaks }}</p>
        </div>
    {% empty %}
        <p>No posts available.</p>
    {% endfor %}
</div>
{% endblock %}

