{% extends 'blog/base.html' %}


{% block content %}
<article>
    <!-- <header class="article-header"> -->
        <h1>{{ post.title }}</h1>
        <!-- <p>Posted on: {{ post.date_created }}</p> -->
    <!-- </header> -->
    <!-- <main> -->
        {% if post.image %}
            <img src="{{ post.image.url }}" alt="{{ post.title }}" style="max-width: 100%; height: auto;">
        {% endif %}
            {{ post.content|safe }}
    <!-- </main> -->
    {% if post.song_title %}
    <h3>Song of the Day: {{ post.song_title }}</h3>
    {{ post.song_message|safe}}
    
    {% if post.youtube_link %}
        <div style="margin: 20px 0;">
            <iframe 
                width="560" 
                height="315" 
                src="https://www.youtube.com/embed/{{ post.youtube_link|slice:'-11:' }}" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen>
            </iframe>
        </div>
    {% endif %}
    
    <p><em>Let’s have a beautiful day, a beautiful life.</em></p>
{% endif %}
</article>
<a href="/">Back to Home</a>
{% endblock %}